
.header{
    text-align: center;
}
.header img{
          height: 200px;
          width: 200px;
}

/* menu-border */

/* .m-border{
    border: 1px solid rgba(172, 171, 171, 0.336);
} */

.menu li a{
           text-decoration: none;
           color: black;
           display: inline-block;

           
}

.menu li{
    display: inline-block;
    padding: 20px;
    border: 1px solid rgba(172, 171, 171, 0.336);
}

.first-blog{
    /* border: 1px solid black; */
    height: 400px;
    width: 400px;
    float: left;
    margin-left: 10px;
    text-align: center;
}

.first-blog a{
    display: inline-block;
    font-size: 50px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;
}
 img{
     max-width: 100%;
     height: 50%;
 }

 .blog-a{
    /* border: 1px solid black; */
    height: 400px;
    width: 400px;
    float: left;
    margin-left: 10px;
    text-align: center;
 }

 .blog-a a{
    display: inline-block;
    font-size: 50px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;

 }

 .blog-b{
    /* border: 1px solid black; */
    height: 400px;
    width: 400px;
    float: left;
    margin-left: 10px;
    text-align: center;
 }

 .blog-b a{
    display: inline-block;
    font-size: 40px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;

 }


 .sec1-blog a{
     text-decoration: none;
     height: 150px;
     width: 25%;


 }
 .sec2-blog{}
 .sec3-blog{}
 .sec4-blog{}